html,
body {
  width: 500px;
  height: 500px;
  margin: 0; /* Space from this element (entire page) and others*/
  padding: 5px 15px; /*space from content and border*/
  background-color: #2b2a33;
  border: #eaea9d;
  border-width: 2px;
  box-sizing: border-box;
}

h1 {
  font-size: x-large;
  font-family: Verdana;
  color: #fa5252;
}

.hidden {
  display: none;
}

button {
  /* Background */
  background:linear-gradient(45deg,#3B82F6,#2563EB);

  /* Typography */
  color: #FFFFFF;
  font-family: Arial;
  font-size: small;
  text-transform: none;
  letter-spacing: 0px;
  font-weight:400;

  /* Sizing and Border */
  margin: auto;
  border-radius: 8px;
  border: 0px solid #000000;

  /* Box Shadow */
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);

  /* Text Shadow */
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

  /* Additional Styles */
  cursor: pointer;
  transition: all 0.2s;
}

label {
  color: #FFFFFF;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.98);
}


.entry {
  margin-bottom: 20px;
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tag-container {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.tag-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.tag {
  display: flex;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 5px 10px;
  align-items: flex-start;
}

.tag span {
  margin-right: 10px;
}

.tag button.delete-tag {
  border: none;
  background: transparent;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

input.tag-input {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  margin-top: 10px;
  outline: none;
  display: flex;
  align-items: flex-start;
}