html,
body {
  width: 500px;
  height: 500px;
  margin: 0; /* Space from this element (entire page) and others*/
  padding: 5px 15px; /*space from content and border*/
  background-color: #2b2a33;
  border: #eaea9d;
  border-width: 2px;
  box-sizing: border-box;
}

h1 {
  font-size: x-large;
  font-family: Verdana;
  color: #fa5252;
}

.hidden {
  display: none;
}

button {
  /* Background */
  background:linear-gradient(45deg,#3B82F6,#2563EB);
  
  /* Typography */
  color: #FFFFFF;
  font-family: Arial;
  font-size: small;
  text-transform: none;
  letter-spacing: 0px;
  font-weight:400;
  
  /* Sizing and Border */
  padding: auto;
  margin: auto;
  border-radius: 8px;
  border: 0px solid #000000;
  
  /* Box Shadow */
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  
  /* Text Shadow */
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  
  /* Additional Styles */
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.98);
}

